<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"> 
    
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="locations" value="classpath:app.properties"/>
	</bean>
	
	<bean id="sourceRow" class="ecommerce.eAlgorithm8.SourceRow">
		<property name="max" value="${ROW.MAXSIZE}"/>
	</bean>
    
    <!-- TrueAndFalse 运算何时回第一位开始运算 -->
    <bean id="next" class="ecommerce.patterns.trueandfalse.alg8.Next">
    	<property name="nexts">
    		<array>
    			<bean class="ecommerce.patterns.trueandfalse.gonext.Next1"/>
    			<bean class="ecommerce.patterns.trueandfalse.gonext.Next4"/>
    		</array>
    	</property>
    </bean>
    
    <!-- TrueAndFalse 运算何时终止？ -->
    <bean id="stop" class="ecommerce.patterns.trueandfalse.alg8.Stop">
    	<property name="stops">
    		<array>
    			<bean class="ecommerce.patterns.trueandfalse.stop.StopBySum">
    				<property name="max" value="${SUM}"/>
    			</bean>
    			<bean class="ecommerce.patterns.trueandfalse.stop.StopByCurrent">
    				<property name="max" value="${DELTA}"/>
    			</bean>
    		</array>
    	</property>
    </bean>
    
    <bean id="trueAndFalse" class="ecommerce.eAlgorithm8.TrueAndFalse">
    	<property name="stop" ref="stop"/>
    	<property name="next" ref="next"/>
    </bean>
</beans>